.header {
  background-color: #a3d698;
  padding: 20px;
}

h2 {
  font-family: 'Sintony', sans-serif;
  color: #273582;
}

h3 {
  font-family: 'Sintony', sans-serif;
  color: #273582;
}

button {
  font-family: 'Sintony', sans-serif;
  color: #273582;
  border: none;
  padding: 10px;
  transition: 0.3s;
}

button:hover {
  background-color: #b2b0b0;
}

input[type=text] {
  font-family: 'Sintony', sans-serif;
  border: none;
  padding:10px;
}

th {
  font-family: 'Sintony', sans-serif;
  color: #273582;
}

svg {
  pointer-events: none;
}

/* Media Query für Smartphone */
@media only screen and (max-width: 600px) {

  button {
    font-family: 'Sintony', sans-serif;
    color: #273582;
    border: none;
    padding: 10px;
    transition: 0.3s;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  input[type=text] {
    font-family: 'Sintony', sans-serif;
    border: none;
    padding:10px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
